@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../images/IMG_20241115_135240.jpg") center/cover no-repeat;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.navegacao .menu {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 10px 20px;
  padding: 8px 26px;
  width: fit-content;
}

.navegacao .menu a {
  font-size: 1.3rem;
  padding: 8px 10px;
  transition: background 0.2s;
  border-radius: 8px;
}

.navegacao .menu a:hover {
  background: #fff;
  color: #222;
}

.navegacao {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
}

 main {
  flex: 1;
} 

section {
  min-height: 95vh;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  transition: ease-in-out 0.5s;
}

.inicio::after {
  content: url('../images/seta_preta.png');
  height: 35px;
  bottom: 40px;
  position: absolute;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

@keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.4;
  }

  100% {
    -webkit-transform: translateY(0.4);
    opacity: 0.9;
  }
}

.inicio .titulo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  font-weight: 700;
}

.inicio .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slogan img {
  height: 40%;
  width: 40%;
  filter: grayscale(100%) contrast(1.2);
  transition: 0.35s ease;
}

.slogan img:hover {
  filter: grayscale(0%) contrast(1);
}

.slogan {
  display: flex;
  justify-content: center;
}

.slogan .texto-chamativo {
  margin: 27% 3%;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  cursor: pointer;
}

.slogan .texto-chamativo:hover {
  color: #ffc8dd;
  text-shadow: 0 0 8px rgba(255, 200, 221, 0.7); 
}

.sobre {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.sobre .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre .container .imagem-sobre {
  width: auto;
  height: 70vh;
  padding: 10px;
  border-radius: 30px;
}

.sobre .container .texto {
  padding: 10px 30px;
}

.sobre .container .texto h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: 700;
}

.sobre .container .texto p {
  font-size: 1.5rem;
}
.servicos .titulo-servicos {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.servicos .descricao-servicos {
  font-size: 1.5rem;
  margin: 0 3rem 1rem 1rem;
  max-width: 800px;
  text-align: center;
}
.localizacao {
  height: 30vh;
  width: 100%;
  text-align: center
}
.localizacao .titulo-localizacao {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.localizacao .descricao-atendimento {
  font-size: 1.5rem;
  margin: 0 3rem 1rem 1rem;
  max-width: 800px;
  text-align: center;
}

#map {
  height: 600px;
  width: 70%;
  margin-top: 20px;
}
.rodape {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  text-align: center;
  background-color: #222;
}

.rodape h2 {
  margin-bottom: 30px;
  font-size: 1.8rem;
}
.rodape .redes-trancista ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.rodape ul li,
a {
  padding: 10px ;
  text-align: center;
  font-size: 1.2rem;
  transition: background 0.1s;
}

.rodape .redes-trancista a:hover {
  background: #fff;
  color: #222;
  border-radius: 15px;
}

.seta-voltar, .seta-avancar {
  display: none;
}

.seta-voltar.opacidade, 
.seta-avancar.opacidade {
  opacity: 0.3;
} 
