 @media (max-width: 600px) {

     body {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         min-height: 100vh;
         margin: 0;
     }

     .navegacao {
         position: static;
     }

     .navegacao .menu {
         display: flex;
         gap: 12px;
         width: fit-content;
         margin-bottom: 60px;
     }

     .navegacao .menu a {
         display: inline-block;
         padding: 8px 12px;
     }

     .cabecalho {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .cabecalho .titulo {
         font-size: 2.5rem;
         font-weight: bold;
         text-align: center;
     }

     .cabecalho .slogan {
         display: flex;
         flex-direction: column;
         left: 50%;
         margin: 70px 0px 0px 0px;
     }

     .cabecalho .slogan .imagem-slogan {
         width: 90vw;
         max-width: 90rem;
     }

     .cabecalho .slogan .texto-chamativo {
         margin-top: 15px;
     }

     .sobre .container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 20px;
     }

     .sobre .container .imagem-sobre {
         width: 90vw;
         margin: 10px 10px;
         border-radius: 20px;
         object-fit: cover;
     }

     .servicos {
         position: relative;
         height: 80vh;
         display: flex;
         align-items: center;
     }

     .englobar .individual {
         height: 100%;
         width: 100%;
         position: absolute;
         opacity: 0;
         transition: 0.5s ease-out;
         display: flex;
         align-items: center;
     }

     .englobar .individual.mostrar {
         opacity: 1;
         position: relative;
     }

     .englobar .individual img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         border-radius: 20px;
         filter: grayscale(0);
         cursor: auto;
     }

     .seta-voltar {
        display: block;
         position: absolute;
         top: 50%;
         left: -30px;
         transform: translateY(-50%);
         z-index: 10;
     }

     .seta-avancar {
        display: block;
         position: absolute;
         top: 50%;
         right: -30px;
         transform: translateY(-50%);
         z-index: 10;
     }



 }